@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');


*{
    margin:0px;
}

:root{
    --rojoUR: #DA0921;
    --azul: #3100A0;
    --navy: #190356;
    --grisAl50: #D9D9D9;
    --grisAl70: #6F6F6E; 
}


body{
    font-family: 'Merriweather Sans', sans-serif;
}

.header{
    width: auto;
    height: 100px;
    background-color: var(--grisAl50);
    display: flex;
    
    align-items: center;
}

.logoUR{
    padding: 17px 20px 17px 17px;
}

.logoUR img{
    width: 170px;

}

.nav{
    
    display: flex;
}



.nav a{
    font-size: 20px;
    font-weight: 700;
    color: var(--navy);
    padding-right:20px;
    text-decoration: none;
}

.nav a:hover{
    color: var(--azul);
}
.search{
    display: felx;
    align-items: center;
}

#searchInput {
    padding: 5px;
    border: 1px solid var(--navy);
    
}

#searchButton {
    background-color: var(--grisAl50);
    color: var(--navy);
    border: none;
    
    cursor: pointer;
}

#searchButton img{
    width:20px;
}


.content{
    padding: 60px 20%;
}

.subheader{
    background-image: url(../img/banner_1\ 1.png);
    height: 182.5px;
    text-align: left;
}
