@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');


*{
    margin:0px;
}

:root{
    --rojoUR: #DA0921;
    --azul: #3100A0;
    --navy: #190356;
    --grisAl50: #D9D9D9;
    --grisAl70: #6F6F6E; 
}


body{
    font-family: 'Merriweather Sans', sans-serif;
}

.nav{
    width: auto;
    height: 100px;
    background-color: var(--grisAl50);
}

.logoUR{
    padding: 17px 17px 17px 17px;
}

.logoUR img{
    width: 170px;

}