@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;600&display=swap');

*{
    margin:0px;
}

:root{
    --rojoUR: #DA0921;
    --azul: #3100A0;
    --navy: #190356;
    --grisAl50: #D9D9D9;
    --grisAl70: #6F6F6E; 
}


body{
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--navy);
}


html{
    scroll-behavior: smooth;
}
h1{
    font-size: 3rem;
    font-weight: 600;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}

h3 { 
    font-size: 1.5rem;
    font-weight: 300;
}

p{
    font-size: 1rem;
    font-weight: 300;
}


.header{
    width: auto;
    height: 100px;
    background-color: var(--grisAl50);
    display: flex;
    
    align-items: center;
}

.logoUR{
    padding: 17px 20px 17px 17px;
}

.logoUR img{
    width: 170px;

}

.nav{
    
    display: flex;
}



.nav a{
    font-size: 20px;
    font-weight: 700;
    color: var(--navy);
    padding-right:20px;
    text-decoration: none;
}

.nav a:hover{
    color: var(--azul);
}
.search{
    display: felx;
    align-items: center;
}

#searchInput {
    padding: 5px;
    border: 1px solid var(--navy);
    
}

#searchButton {
    background-color: var(--grisAl50);
    color: var(--navy);
    border: none;
    
    cursor: pointer;
}

#searchButton img{
    width:20px;
}


.content{
    padding: 60px 20%;
}

.subheader{
    display: flex;
    background-size: cover;
    background-image: url('../img/banner_1\ 1.png');
    background-position: 0% 40%;
    height: 180px;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: flex-end;

}

.Title {
    display: flex;
    width: 100%;
    padding: 50px 20px 20px 20px;
    height: 120px;
    background-color: rgba(250, 244, 244, 0.5);
    align-items: flex-end;
}

.Title h1{
    
    font-weight: 600;
    
}


.expl{
    
    padding-top: 5%;
    display: flex; /* Utiliza flex para centrar el contenido verticalmente */
    flex-direction: column; /* Alinea el contenido en columna */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: justify; 
    
}

.expl h2{
    align-self: flex-start;
    padding-bottom: 2%;
}
.boton{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 315px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--rojoUR);
    color: white !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    align-items: center;

    
}

.boton a{
    text-decoration: none;
    align-items: center;
    color: white;
    justify-content: center;
}

.boton:hover{
    background-color: var(--grisAl70);
    color: var(--rojoUR);
}


.catalogo{
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Muestra 3 tarjetas por fila */
    gap: 15%;
    justify-content: center;
    
}

.card{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 330px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.fotoCard{
    height: 150px;
    overflow-x: hidden;
    overflow-y: hidden;

}

.info{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    color: black;
}

.info p{
    margin-top: 30%;

    text-align: right;
    align-self: flex-end;
}
