.content{
    padding: 60px 20%;
  }


  .expl{
    
    padding-top: 5%;
    display: flex; /* Utiliza flex para centrar el contenido verticalmente */
    flex-direction: column; /* Alinea el contenido en columna */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: justify; 
    
}

.expl h2{
    align-self: flex-start;
    padding-bottom: 2%;
}
.boton{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 315px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--rojoUR);
    color: white !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    align-items: center;

    
}

.boton a{
    text-decoration: none;
    align-items: center;
    color: white;
    justify-content: center;
}

.boton:hover{
    background-color: var(--grisAl70);
    color: var(--rojoUR);
}
